
h2 {
    color: #009688;
}

.content {
    background-color: #FAFAFA;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.footer {
    background-color: #FFFFFF;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: #546e7a;
}
.headline{
  color: white;
  font-size: 20px;
  position: sticky;
}

.title {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #009688;
}
.bgImg{
  width: auto;
  height: auto;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  right: auto;
  top: 0;
  bottom: auto;
}
.bar {
	background-color: #009688;
	padding: 2px;
}
.copyright {
  text-align: right;

}
.container {
  position: relative;
  width: 20%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #009688;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.container:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

body{
  margin: 0px 0px 0px 0px;
}
